# Node.js and npm
# This section applies to both the 'frontend' and 'backend' directories

# Dependency directories
/node_modules

# Build and temporary files
/dist
/build
/out
.cache/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.example

# Production specific
npm-shrinkwrap.json

# Logs
logs/
*.log

# Windows temporary files
Thumbs.db